@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1573462196421'); /* IE9 */
  src: url('iconfont.eot?t=1573462196421#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALcAAsAAAAABowAAAKNAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBGIEsATYCJAMICwYABCAFhG0HLhvQBciemjwJAooNQ4HS9xt42Azi4f/3+7XP/fd9HqZJNbHIJkk0kUlkSrAZD12jWSnezEqY/1trf5lDvc7r5xH1dBr9r8nsIKJRLFQICa9QIUFoRCJsBhpWN5Lk5bv/OWa6BBpIfqC5ZAWO9gY4itYBRTWN7E7ojG8Yu8AlnCdQp5efsDIylYAKmTUtECeKlIOKnEOWWbgUqjVrM8Q1KJRpv+QNuBr+fvyDmagASVEBK2v7eLgIfT9v2FFkzVtz5CPASUCbC1QwDWRivzawiQiGI+oCPoNgX+nBTz3PV4m9ygX711mpDaAbMu6J6bJuNTWBDLungY1Rj5Dba4SaxY+vqbefE3fWJj5Z//mZvr9+4tMy97x9m3j/Pl13c3/+ps/t87OnD+Y8HuaEs5NkzxXOU9nFkcVk5q+jXHvsC6hJn8WR18GImWZMQBWmKcTU9c+7B8TDI+2pHX8p6GP9WZZeQiC4nTj9z9R3/VZU+wA+3f8wZPQzUZ7JGPwxZs+irLMtcTo2AxmT6YxNAqbV4T/L0uZ7rKTz9nShzDEZJDV6oKI0jMzYaSjUm4Wq0jzUmTK6uV47hohcCUzaBhBa3EHS5A1UtHhHZuwXFLr8QFVLEKhzGM171hsNpWqQYY5jkebnqVKwTNFR86ooPYbStJ5jWXaITyFzFTeNBMPF8CiayOZY4M5IUc5FKjLLoCPgMtR1i9rMUrHAgzLndkcoJNZ9KViwDKiyjEE5HCqi8uZRigKLSfTLc1Wln49Bkmm6HNZSUKNMQYxL6Z2KCAr3QI4KzF4F9/KJa4YkiuNElIixGKgRMArpdBbKrh+lQgVckDzCZ+sQskuJfQXB9UXG122AOpY0hZ1PIJ8qOAsAAAAA') format('woff2'),
  url('iconfont.woff?t=1573462196421') format('woff'),
  url('iconfont.ttf?t=1573462196421') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1573462196421#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="v-icon-m-"], [class*=" v-icon-m"] {
  font-family: "iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.v-icon-m-icon-view:before {
  content: "\e692";
}

